<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://raw.github.com/sebastianbergmann/phpunit/4.4/phpunit.xsd"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>tests/AbstractLoaderTest.php</exclude>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
    </logging>
</phpunit>