<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/phpunit/phpunit/src/Framework/Assert/Functions.php"
         colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
        <testsuite name="example">
            <directory suffix="Test.php">./example/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>